<%@products.each do |product|%>
<%-#products is the model which holds the attributes-%>
<ul>
  <li> <%= product.name %></li>
  <li> $ <%= product.price %></li>
  <li> <img src = "<%= product.image %>" alt =""></li>
  <li> <%= product.description %></li>
</ul>
<%end%>
